[submodule "extern/NavHAL"]
	path = extern/NavHAL
	url = https://github.com/ragnar-vallhala/NavHAL.git
	branch = main
[submodule "extern/vtest"]
	path = extern/vtest
	url = https://github.com/ragnar-vallhala/vtest.git
	branch = main
